
<!-- bottom nav -->
<footer class="fixed-bottom bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(97, 97, 149, 0.2);">
        &copy; Copyright 2023. All Rights Reserved For Mohammadali Hejazinasr.
    </div>
</footer>
<!-- bottom nav ends here -->