
<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>
    <!-- About Section -->
    <section id="about">
        <div class="container mt-4 pt-4">
            <h1 class="text-center">About Me</h1>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <img src="/Assets/images/profilepicture.jpeg" class="profilepicture">
                </div>
                <div class="col-lg-8">
                    <p class="about_desc">Hello, my name is Mohammadali Hejazinasr.  I am originally from Iran.Experienced programmer with a strong background in
                       developing and implementing software solutions using multiple programming languages. Adept at analyzing user requirements,
                        designing system architecture, and writing high-quality, maintainable code. Proficient in modern development practices,
                       including Agile methodologies and DevOps tools. Proven ability to work effectively as part of a team, with excellent 
                       communication and problem-solving skills. 
                    </p>
                   
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <ul>
                                <li>Name: Mohammadali Hejazinasr</li>
                                <li>Email Id: mhejazinasr@gmail.com</li>
                            </ul>
                        </div>

                    </div>
                    <p>Link to my resume: <a href="/Assets/resume.pdf" target="_blank">View</a></p>
                </div>
    </section>

     <%- include partials/bottom_nav.ejs %>
         <%- include partials/footer.ejs %>