
<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>
    <!-- Projects Section -->

    <section id="portfolio">

            <h1 class="text-center">Projects</h1>
            
                            <h4 >DIGIKALA website</h4>
                            <p >Using EJS, Mongo and Github and CSS and putting so much affort and
                                time in work I created the digikala Website In my country</p>
                        
                            <h4 >Divar Application</h4>
                            <p >Using JavaScript and C# and android language, I created the Divar App
                               which helped a lot of people in my country sell their products
                            </p>
                       
                            

                      
    </section>


     <%- include partials/bottom_nav.ejs %>
         <%- include partials/footer.ejs %>