
<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

    <section id="services">
        <div class="container">
            <h1 class="text-center">Services</h1>
            
                            <h4 >Web Application Development</h4>
                            <p >I started to code when I was a teen. Eventually, my interest
                                shifted towards web programming and creating dynamic websites.
                            </p>
                        
                            <h4 >Android Applications</h4>
                            <p>When the famous language "Java" and MySql database meet, a
                                robust and efficient desktop application is created.
                            </p>
                       
                       
            </div>


             <%- include partials/bottom_nav.ejs %>
                 <%- include partials/footer.ejs %>